@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400;1,900&display=swap');

* {
    font-family:'Merriweather', serif;
    font-size: 18px;
    align-items: center;
}
.container {
    top: 50%;
    left: 50%;
    position:absolute;
    transform:translate(-50%, -50%);
    margin:0 auto;
    width:256px;
    text-align: center;
    border: 10px solid burlywood;
    background-color: cadetblue;
    border-radius:5px;
}

.keypad {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:minmax(30px,auto) ;
}
input[type="text"]{
    height: 75px;
    width:250px;
    background-color: rgb(235, 203, 161);
    border:0px;
    color: black;
    text-align: right;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;

}
#clear {
    grid-column:1/3;
    grid-row: 1;
    color:cadetblue;
}
#result {
    grid-column: 3/5;
    grid-row: 5;
    color:cadetblue;
}
#backspace {
    color:cadetblue;
}
button {
    margin:5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(189, 140, 140);
    color:rgb(22, 17, 16);
    font-weight: 500;
    
}
input:focus,
input:active,
button:focus,
button:active {
    outline:none;
}
.highlight {
    background: brown;
}
